.dockerignore
Dockerfile
.gitignore
.git

# Not needed as we are bundling the whole app
node_modules
bun.lockb

# Log files
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.next

# some secrets :)
intermediary-frontent-deploy.yaml
.env
.env.staging
tmp/